/* css variables */

/* :root {
    --background: #f4f4f4;
    --foreground: #1a1a1a;

    --border: #2F443E;
    --card: #DCD2C1;

    --primary: #30BB93;
    --primary-foreground: #ffffff;

    --secondary: #1f2830;
    --secondary-foreground: #20b2a6;

    --muted: #252e37;
    --muted-foreground: #7a8491;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #2F443E;
        --foreground: #f0f2f5;

        --border: #2F443E;
        --card: #DCD2C1;

        --primary: #30BB93;
        --primary-foreground: #ffffff;

        --secondary: #1f2830;
        --secondary-foreground: #20b2a6;

        --muted: #7a8491;
        --muted-foreground: #252e37;
    }
} */